/*
Purpose:
- General style.

Description:
- NN

Releases:
- v0.1.0 - 2020/07/25 : initial release
- v0.2.0 - 2020/07/26 : default fonts
- v0.3.0 - 2020/07/27 : #content: height defined

Author:
- Klaus Tockloth

Copyright and license:
- Copyright (c) 2020 Klaus Tockloth
- MIT license

Permission is hereby granted, free of charge, to any person obtaining a copy of this software
and associated documentation files (the Software), to deal in the Software without restriction,
including without limitation the rights to use, copy, modify, merge, publish, distribute,
sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.

The software is provided 'as is', without warranty of any kind, express or implied, including
but not limited to the warranties of merchantability, fitness for a particular purpose and
noninfringement. In no event shall the authors or copyright holders be liable for any claim,
damages or other liability, whether in an action of contract, tort or otherwise, arising from,
out of or in connection with the software or the use or other dealings in the software.

Contact (eMail):
- printmaps.service@gmail.com

Remarks:
- NN

Links:
- NN
*/

/* workaraound for codemirror to set editor window size in % */
body,
html {
  height: 100%;
}

/* general */
body {
  background-color: #fdfdfd;
  font-family: sans-serif;
}
pre {
  background-color: #f7f7f7;
  font-family: monospace;
  color: darkred;
}
pre.request {
  color: darkred;
}
pre.response {
  color: green;
}
h3 {
  color: #333333;
}
h4.request {
  color: darkred;
}
h4.response {
  color: green;
}
strong {
  color: darkred;
}
b {
  color: darkred;
}
hr {
  margin-top: 10px;
  border: 0;
  border-top: 2px solid lightgray;
}

/* links */
a.extern:link,
a.extern:visited,
a.extern:active,
a.extern:hover {
  background: url("../images/external.png") center right no-repeat;
  padding-right: 12px;
  text-decoration: none;
  color: #ce5c00;
}
a.extern:active,
a.extern:hover {
  text-decoration: underline;
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #ce5c00;
}
a:active,
a:hover {
  text-decoration: underline;
}

/* page structure */
#title {
  color: #555753;
  width: 100%;
  float: left;
}
#cssmenu {
  width: 100%;
  float: left;
}
#content {
  width: 100%;
  height: 100%;
  float: left;
}
#footer {
  width: 100%;
  float: left;
}

/* tables */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ccc;
}
.tg td {
  padding: 6px 6px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: lightgray;
}
.tg th {
  padding: 6px 6px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: lightgray;
  background-color: #f7f7f7;
}
.markertable td {
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 10px;
}

/* CSS menu */
#cssmenu ul {
  background: #555753;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
  background: #555753 url("../images/seperator.gif") bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 30px;
  margin: 0px;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #ffffff;
}
#cssmenu ul ul a {
  color: #ffffff;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #2580a2 url("../images/hover.png") bottom center no-repeat;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu li ul {
  background: #555753;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url("../images/sub_sep.gif") bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  padding: 0px 15px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #2580a2 url("../images/hover_sub.png") center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}

/* scale svg image */
.image-40 {
  height: 40%;
  width: 40%;
}
