/*
Purpose:
- Style for Tools page.

Description:
- NN

Releases:
- v0.1.0 - 2020/07/25 : initial release

Author:
- Klaus Tockloth

Copyright and license:
- Copyright (c) 2020 Klaus Tockloth
- MIT license

Permission is hereby granted, free of charge, to any person obtaining a copy of this software
and associated documentation files (the Software), to deal in the Software without restriction,
including without limitation the rights to use, copy, modify, merge, publish, distribute,
sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.

The software is provided 'as is', without warranty of any kind, express or implied, including
but not limited to the warranties of merchantability, fitness for a particular purpose and
noninfringement. In no event shall the authors or copyright holders be liable for any claim,
damages or other liability, whether in an action of contract, tort or otherwise, arising from,
out of or in connection with the software or the use or other dealings in the software.

Contact (eMail):
- printmaps.service@gmail.com

Remarks:
- NN

Links:
- NN
*/

dialog {
  border-color: lightgray;
  border-radius: 0.5rem;
}

fieldset {
  border-color: lightgray;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p > label {
  float: right;
  width: 16em;
  margin-left: 1em;
  text-align: left;
}

input[type="number"] {
  width: 16em;
}

input[type="text"] {
  width: 16em;
}

dialog > h3 {
  margin: 0em;
}
